@import "components/nprogress";
@import "components/skeleton-screens";


a {
  text-decoration: none;
}

a:active {
  color: currentColor;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

//*****>>>> ANIMATIONS

.async-image-ready {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}