@font-face {
    font-family: "BwSurco";
    src: url("BwSurco-Regular.woff2") format("woff2"), url("BwSurco-Regular.woff") format("woff"), url("BwSurco-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}
        