*:after,
*:before {
	outline: 1px solid rgba(#f00, 0.5);
}

body        { outline: 1px solid rgba(#2980b9, 0.5) !important; }
article     { outline: 1px solid rgba(#3498db, 0.5) !important; }
nav         { outline: 1px solid rgba(#0088c3, 0.5) !important; }
aside       { outline: 1px solid rgba(#33a0ce, 0.5) !important; }
section     { outline: 1px solid rgba(#66b8da, 0.5) !important; }
header      { outline: 1px solid rgba(#99cfe7, 0.5) !important; }
footer      { outline: 1px solid rgba(#cce7f3, 0.5) !important; }
h1          { outline: 1px solid rgba(#162544, 0.5) !important; }
h2          { outline: 1px solid rgba(#314e6e, 0.5) !important; }
h3          { outline: 1px solid rgba(#3e5e85, 0.5) !important; }
h4          { outline: 1px solid rgba(#449baf, 0.5) !important; }
h5          { outline: 1px solid rgba(#c7d1cb, 0.5) !important; }
h6          { outline: 1px solid rgba(#4371d0, 0.5) !important; }
main        { outline: 1px solid rgba(#2f4f90, 0.5) !important; }
address     { outline: 1px solid rgba(#1a2c51, 0.5) !important; }
div         { outline: 1px solid rgba(#036cdb, 0.5) !important; }
p           { outline: 1px solid rgba(#ac050b, 0.5) !important; }
hr          { outline: 1px solid rgba(#ff063f, 0.5) !important; }
pre         { outline: 1px solid rgba(#850440, 0.5) !important; }
blockquote  { outline: 1px solid rgba(#f1b8e7, 0.5) !important; }
ol          { outline: 1px solid rgba(#ff050c, 0.5) !important; }
ul          { outline: 1px solid rgba(#d90416, 0.5) !important; }
li          { outline: 1px solid rgba(#d90416, 0.5) !important; }
dl          { outline: 1px solid rgba(#fd3427, 0.5) !important; }
dt          { outline: 1px solid rgba(#ff0043, 0.5) !important; }
dd          { outline: 1px solid rgba(#e80174, 0.5) !important; }
figure      { outline: 1px solid rgba(#f0b, 0.5) !important;    }
figcaption  { outline: 1px solid rgba(#bf0032, 0.5) !important; }
table       { outline: 1px solid rgba(#0c9, 0.5) !important;    }
caption     { outline: 1px solid rgba(#37ffc4, 0.5) !important; }
thead       { outline: 1px solid rgba(#98daca, 0.5) !important; }
tbody       { outline: 1px solid rgba(#64a7a0, 0.5) !important; }
tfoot       { outline: 1px solid rgba(#22746b, 0.5) !important; }
tr          { outline: 1px solid rgba(#86c0b2, 0.5) !important; }
th          { outline: 1px solid rgba(#a1e7d6, 0.5) !important; }
td          { outline: 1px solid rgba(#3f5a54, 0.5) !important; }
col         { outline: 1px solid rgba(#6c9a8f, 0.5) !important; }
colgroup    { outline: 1px solid rgba(#6c9a9d, 0.5) !important; }
button      { outline: 1px solid rgba(#da8301, 0.5) !important; }
datalist    { outline: 1px solid rgba(#c06000, 0.5) !important; }
fieldset    { outline: 1px solid rgba(#d95100, 0.5) !important; }
form        { outline: 1px solid rgba(#d23600, 0.5) !important; }
input       { outline: 1px solid rgba(#fca600, 0.5) !important; }
keygen      { outline: 1px solid rgba(#b31e00, 0.5) !important; }
label       { outline: 1px solid rgba(#ee8900, 0.5) !important; }
legend      { outline: 1px solid rgba(#de6d00, 0.5) !important; }
meter       { outline: 1px solid rgba(#e8630c, 0.5) !important; }
optgroup    { outline: 1px solid rgba(#b33600, 0.5) !important; }
option      { outline: 1px solid rgba(#ff8a00, 0.5) !important; }
output      { outline: 1px solid rgba(#ff9619, 0.5) !important; }
progress    { outline: 1px solid rgba(#e57c00, 0.5) !important; }
select      { outline: 1px solid rgba(#e26e0f, 0.5) !important; }
textarea    { outline: 1px solid rgba(#cc5400, 0.5) !important; }
details     { outline: 1px solid rgba(#33848f, 0.5) !important; }
summary     { outline: 1px solid rgba(#60a1a6, 0.5) !important; }
command     { outline: 1px solid rgba(#438da1, 0.5) !important; }
menu        { outline: 1px solid rgba(#449da6, 0.5) !important; }
del         { outline: 1px solid rgba(#bf0000, 0.5) !important; }
ins         { outline: 1px solid rgba(#400000, 0.5) !important; }
img         { outline: 1px solid rgba(#22746b, 0.5) !important; }
iframe      { outline: 1px solid rgba(#64a7a0, 0.5) !important; }
embed       { outline: 1px solid rgba(#98daca, 0.5) !important; }
object      { outline: 1px solid rgba(#0c9, 0.5) !important;    }
param       { outline: 1px solid rgba(#37ffc4, 0.5) !important; }
video       { outline: 1px solid rgba(#6ee866, 0.5) !important; }
audio       { outline: 1px solid rgba(#027353, 0.5) !important; }
source      { outline: 1px solid rgba(#012426, 0.5) !important; }
canvas      { outline: 1px solid rgba(#a2f570, 0.5) !important; }
track       { outline: 1px solid rgba(#59a600, 0.5) !important; }
map         { outline: 1px solid rgba(#7be500, 0.5) !important; }
area        { outline: 1px solid rgba(#305900, 0.5) !important; }
a           { outline: 1px solid rgba(#ff62ab, 0.5) !important; }
em          { outline: 1px solid rgba(#800b41, 0.5) !important; }
strong      { outline: 1px solid rgba(#ff1583, 0.5) !important; }
i           { outline: 1px solid rgba(#803156, 0.5) !important; }
b           { outline: 1px solid rgba(#cc1169, 0.5) !important; }
u           { outline: 1px solid rgba(#ff0430, 0.5) !important; }
s           { outline: 1px solid rgba(#f805e3, 0.5) !important; }
small       { outline: 1px solid rgba(#d107b2, 0.5) !important; }
abbr        { outline: 1px solid rgba(#4a0263, 0.5) !important; }
q           { outline: 1px solid rgba(#240018, 0.5) !important; }
cite        { outline: 1px solid rgba(#64003c, 0.5) !important; }
dfn         { outline: 1px solid rgba(#b4005a, 0.5) !important; }
sub         { outline: 1px solid rgba(#dba0c8, 0.5) !important; }
sup         { outline: 1px solid rgba(#cc0256, 0.5) !important; }
time        { outline: 1px solid rgba(#d6606d, 0.5) !important; }
code        { outline: 1px solid rgba(#e04251, 0.5) !important; }
kbd         { outline: 1px solid rgba(#5e001f, 0.5) !important; }
samp        { outline: 1px solid rgba(#9c0033, 0.5) !important; }
var         { outline: 1px solid rgba(#d90047, 0.5) !important; }
mark        { outline: 1px solid rgba(#ff0053, 0.5) !important; }
bdi         { outline: 1px solid rgba(#bf3668, 0.5) !important; }
bdo         { outline: 1px solid rgba(#6f1400, 0.5) !important; }
ruby        { outline: 1px solid rgba(#ff7b93, 0.5) !important; }
rt          { outline: 1px solid rgba(#ff2f54, 0.5) !important; }
rp          { outline: 1px solid rgba(#803e49, 0.5) !important; }
span        { outline: 1px solid rgba(#cc2643, 0.5) !important; }
br          { outline: 1px solid rgba(#db687d, 0.5) !important; }
wbr         { outline: 1px solid rgba(#db175b, 0.5) !important; }