@font-face {
    font-family: "BwSurco";
    src: url("BwSurco-Light.woff2") format("woff2"), url("BwSurco-Light.woff") format("woff"), url("BwSurco-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}
        