<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=16006000; includeSubDomains; preload"
</IfModule>

Header always set Content-Security-Policy "upgrade-insecure-requests;"

RewriteEngine on
RewriteCond %{SERVER_PORT} 80 [OR]
RewriteCond %{HTTP_HOST}  ^www\.chefsquare\.com$ [NC]
RewriteRule ^(.*) https://chefsquare.com/$1 [QSA,L,R=301]